
{{> header}}
<main>
  <section class="title">
<h1>Welcome to MongoBurgers</h1>
<p>Select your burger, protein, and toppings and enjoy!</p>
  </section>
</main>
<section class="columns">
  <div class="burgers">
    
  </div>
  <div class="meats">
    Eh?
   {{this.getAllMeats}}
  </div> 
  <div class="toppings">

  </div>
</section>
{{> footer}}
